<%- include ('parcial/header.ejs') ;%>

        <header>
                <nav class="menuPrincipal">
                        <ul>
                                <li><a href="/noticias/noticiasMenu">Notícias</a></li>
                                <li><a href="/superior/superiorMenu">Ensino Superior</a></li>
                        </ul>
                </nav>
        </header>

        <div id='corpo'>

                <%= titulo %>

        </div>

        <%- include ('parcial/footer.ejs') ;%>