    <%- include ('../parcial/header.ejs') ;%>

    <header>
        <nav class="menuPrincipal">
                <ul>
                        <li><a href="/">Inicio</a></li>
                        <li><a href="/noticias/noticiasEsporteMenu">Inicio</a></li>
                        <li><a href="#">Brasileirão</a></li>
                        <li><a href="#">Premier League</a></li>
                        <li><a href="#">Bundesliga</a></li>
                        <li><a href="#">La Liga</a></li>
                        <li><a href="#">Copa do Mundo</a></li>
                </ul>
        </nav>
    </header>

    <div id='corpo'>

            <%= titulo %>

    </div>

    <%- include ('../parcial/footer.ejs') ;%>

