    <%- include ('../parcial/header.ejs') ;%>

    <header>
        <nav class="menuPrincipal">
                <ul>
                        <li><a href="/">Inicio</a></li>
                        <li><a href="/noticias/noticiasMenu">Inicio</a></li>
                        <li><a href="/noticias/noticiasEsporteFutebolMenu">Futebol</a></li>
                        <li><a href="#">Vôleibol</a></li>
                        <li><a href="#">Formula 1</a></li>
                        <li><a href="#">Basquete</a></li>
                        <li><a href="#">Skate</a></li>
                </ul>
        </nav>
    </header>

    <div id='corpo'>

            <%= titulo %>

    </div>

    <%- include ('../parcial/footer.ejs') ;%>

