<%- include ('../../parcial/header.ejs') ;%>

    <header>
        <nav class="menuPrincipal">
            <ul>
                <li><a href="/superior/ensinos/fatecMenu">Voltar</a></li>
                <li><a href="#">GE</a></li>
                <li><a href="#">GPI</a></li>
                <li><a href="#">GRH</a></li>
                <li><a href="/superior/ensinos/fatecNoturnoADS">ADS</a></li>
            </ul>
        </nav>
    </header>

    <div id='corpo'>

        <%= titulo%>

            <div class="img_menu">
                <img src="/imagens/imagens-rotas/noticias/noticias.jpg" alt="">
            </div>

    </div>

    <%- include ('../../parcial/footer.ejs') ;%>