<%- include ('../../parcial/header.ejs') ;%>

    <header>
        <nav class="menuPrincipal">
            <ul>
                <li><a href="/superior/ensinos/fatecMenuNoturno">Voltar</a></li>
                <li><a href="#">LÓGICA DE PROGRAMAÇÃO</a></li>
                <li><a href="#">CÁLCULO</a></li>
                <li><a href="#">SISTEMAS OPERACIONAIS</a></li>
                <li><a href="#">ARQUITETURA</a></li>
                <li><a href="#">PROGRAMAÇÃO ORIENTADA A OBJETOS</a></li>
                <li><a href="#">PROGRAMAÇÃO WEB</a></li>
            </ul>
        </nav>
    </header>

    <div id='corpo'>

        <%= titulo%>

            <div class="img_menu">
                <img src="/imagens/imagens-rotas/noticias/noticias.jpg" alt="">
            </div>

    </div>

    <%- include ('../../parcial/footer.ejs') ;%>