<%- include ('../../parcial/header.ejs') ;%>

    <header>
        <nav class="menuPrincipal">
            <ul>
                <li><a href="/superior/superiorMenu">Voltar</a></li>
                <li><a href="#">MATUTINO</a></li>
                <li><a href="#">VESPERTINO</a></li>
                <li><a href="/superior/ensinos/fatecMenuNoturno">NOTURNO</a></li>
                <li><a href="#">NOVOTEC</a></li>
                <li><a href="#">ESPECIALIZAÇÃO</a></li>
            </ul>
        </nav>
    </header>

    <div id='corpo'>

        <%= titulo%>

            <div class="img_menu">
                <img src="/imagens/imagens-rotas/noticias/noticias.jpg" alt="">
            </div>

    </div>

    <%- include ('../../parcial/footer.ejs') ;%>