header {
    background-color: #890F0D;
}

footer {
    background-color: #630606;
}

.bg-DarkRed {
    background-color: #630606;
}

.bg-CoolRed {
    background-color: #890F0D;
}

.bg-CoolDarkedOrange {
    background-color: #E83A14;
}

nav {
    background-color: #630606;
}

.btn-toCheck {
    background-color: #D9CE3F;
    color: #ffffff;
}

.btn-toCheck:hover {
    background-color: #ffffff;
    border-color: #D9CE3F;
    color: #000000;
}

.btn-outline-toCheck {
    border-color: #D9CE3F;
    color: #000000;
}

.btn-outline-toCheck:hover {
    background-color: #D9CE3F;
    border-color: #D9CE3F;
    color: #ffffff;
}

.btn-outline-gender {
    color: #D9CE3F;
    border-color: #D9CE3F;
}

.btn-outline-gender:hover {
    color: #fff;
    background-color: #D9CE3F;
    border-color: #D9CE3F;
  }

.text-checkedStyle {
    --bs-text-opacity: 1;
  color: #D9CE3F !important;
}

.bg-toStyledBox {
    --bs-bg-opacity: 1;
  background-color: #D9CE3F !important;
}

.buttonStyled {
    padding: 0.25rem 0.5rem;
    font-size: 1.25rem;
    border-radius: 0.2rem;
}

.form-check-input:checked {
    background-color: #D9CE3F;
    border-color: #D9CE3F;
  }